In [14]:
import glob, os
import pandas as pd

In [15]:
path =r'/Users/garimajain/Desktop/Deceptive_Visualization' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [16]:
concatenated_df

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,"December 31, 2015",Louisiana,New Orleans,1900 block of Amelia Street,0,6,NaN
1,"December 27, 2015",Tennessee,Jackson,North Parkway,0,4,NaN
2,"December 26, 2015",Pennsylvania,Philadelphia,4210 Macalester St,0,4,NaN
3,"December 25, 2015",Florida,Jacksonville,Franklin and Odessa,0,4,NaN
4,"December 25, 2015",Alabama,Mobile,785 Schillinger Rd S,0,4,NaN
5,"December 21, 2015",California,San Leandro,14600 block of East 14th Street,0,4,NaN
6,"December 20, 2015",North Carolina,Wilmington,11th and Castle Street,1,4,NaN
7,"December 20, 2015",Florida,Miami (Goulds),21630 Southwest 120th Avenue,1,4,NaN
8,"December 20, 2015",Florida,Miami-dade (county),Northeast Seventh Avenue and Northeast 166th S...,0,4,NaN
9,"December 13, 2015",California,Los Angeles,5550 S. Flower Street,1,3,NaN
10,"December 13, 2015",California,Huntington Beach,17000 block of Keelson Lane,0,4,NaN
11,"December 12, 2015",Georgia,Savannah,Whitaker Street,0,4,NaN
12,"December 12, 2015",Illinois,Lovejoy (Brooklyn),307 Jefferson St,1,3,NaN
13,"December 11, 2015",Maryland,Baltimore,5100 block of Park Heights Avenue,1,3,NaN
14,"December 11, 2015",Pennsylvania,Pittsburgh (Mount Oliver),200 block of Brownsville Road,0,4,NaN
15,"December 8, 2015",Ohio,Cincinnati (Fairmount),2300 block of Baltimore Avenue,1,3,NaN
16,"December 6, 2015",Louisiana,Raceland,Market Street,1,3,NaN
17,"December 6, 2015",Nebraska,Omaha,North 108th Street and Military Road,2,3,NaN
18,"December 2, 2015",California,San Bernardino,1365 South Waterman Avenue,16,19,NaN
19,"December 2, 2015",Georgia,Savannah,100 block of West 33rd Street,1,3,NaN
20,"November 29, 2015",Illinois,Kankakee,648 E. Court St,0,5,NaN
21,"November 27, 2015",Colorado,Colorado Springs,3480 Centennial Blvd,3,9,NaN
22,"November 27, 2015",California,Sacramento,7900 block of Florin Road,2,2,NaN
23,"November 24, 2015",South Carolina,Horry (county),1321 Colletta Court,0,4,NaN
24,"November 23, 2015",Ohio,Columbus,90 block of S. Terrace Avenue,4,1,NaN
25,"November 23, 2015",Minnesota,Minneapolis,Morgan Avenue North,0,5,NaN
26,"November 22, 2015",Texas,Brownsville,1800 block of FM 802,0,4,NaN
27,"November 22, 2015",Washington,Seattle,Broadway and Pike,0,4,NaN
28,"November 22, 2015",New York,Newburgh,203 Broadway,0,5,NaN
29,"November 22, 2015",South Carolina,North Charleston,Park Circle,1,3,NaN
...,...,...,...,...,...,...,...
994,"January 31, 2017",District of Columbia,Washington,2900 block of Martin Luther King Jr Ave,0,4,NaN
995,"January 30, 2017",Minnesota,Minneapolis (Crystal),5410 Lakeland Ave N,0,4,NaN
996,"January 29, 2017",Louisiana,Shreveport,6363 Hearne Ave,1,4,NaN
997,"January 27, 2017",Tennessee,Brownsville,221 Morgan St,0,10,NaN
998,"January 26, 2017",Georgia,Albany,1510 Maryland Drive,2,3,NaN
999,"January 25, 2017",Illinois,Chicago,500 block of E 75th St,0,6,NaN
1000,"January 22, 2017",Illinois,Chicago (Englewood),1800 block of W 63rd,0,4,NaN
1001,"January 22, 2017",Texas,Manvel,200 block of Oak Shore Dr,3,2,NaN
1002,"January 22, 2017",Georgia,Atlanta,2841 Greenbriar Pkwy SW,3,1,NaN
1003,"January 21, 2017",Georgia,Jonesboro,6510 Tara Blvd,0,6,NaN
1004,"January 21, 2017",Florida,Boynton Beach,500 NE 2nd St,0,5,NaN
1005,"January 21, 2017",Tennessee,Memphis,500 block of Delta Road,2,2,NaN
1006,"January 20, 2017",Mississippi,Como,Smart Road,1,4,NaN
1007,"January 20, 2017",California,Fresno,4700 block of E Montecito Ave,0,4,NaN
1008,"January 16, 2017",Texas,Houston,8535 Martin Luther King Boulevard,0,4,NaN
1009,"January 16, 2017",Florida,Miami,6011 NW 32nd Ave,0,8,NaN
1010,"January 15, 2017",Colorado,Capulin,County Road Y,3,1,NaN
1011,"January 15, 2017",Mississippi,Magnolia,6000 block of Church Road,1,4,NaN
1012,"January 12, 2017",Missouri,Kansas City,8607 E 61st Terrace,3,2,NaN
1013,"January 12, 2017",California,Salinas,500 block of Sunrise St,2,2,NaN
1014,"January 11, 2017",New Jersey,Newark,Hawkins Street and Christie Street,1,3,NaN
1015,"January 11, 2017",Illinois,Chicago,4200 block of S Talman,1,3,NaN
1016,"January 7, 2017",Michigan,Flint,2500 block of Churchill Ave,1,3,NaN
1017,"January 6, 2017",California,Pasadena,100 block of W Claremont St,2,2,NaN
1018,"January 6, 2017",Florida,Fort Lauderdale,100 Terminal Dr,5,6,NaN
1019,"January 4, 2017",California,Fontana,14520 Village Drive,3,1,NaN
1020,"January 3, 2017",Texas,Allen,500 block of Hawthorne Drive,0,4,NaN
1021,"January 1, 2017",Mississippi,Winstonville,114 North Greyer Street,0,5,NaN
1022,"January 1, 2017",Texas,Dallas,9220 Skillman Street,1,3,NaN
1023,"January 1, 2017",Florida,Miami,8000 block of NW 14th Ave,0,7,NaN

In [18]:
del concatenated_df['Operations']

In [19]:
del concatenated_df['Address']

In [20]:
del concatenated_df['City Or County']

In [21]:
Total_Killed = concatenated_df['# Killed'].sum()

In [23]:
concatenated_df.loc['Total_Killed'] = pd.Series(concatenated_df['# Killed'].sum(), index = ['# Killed'])

In [24]:
Total_Injured = concatenated_df['# Injured'].sum()

In [25]:
concatenated_df.loc['Total_Injured'] = pd.Series(concatenated_df['# Injured'].sum(), index = ['# Injured'])

In [26]:
concatenated_df

                   Incident Date           State  # Killed  # Injured
0              December 31, 2015       Louisiana       0.0        6.0
1              December 27, 2015       Tennessee       0.0        4.0
2              December 26, 2015    Pennsylvania       0.0        4.0
3              December 25, 2015         Florida       0.0        4.0
4              December 25, 2015         Alabama       0.0        4.0
5              December 21, 2015      California       0.0        4.0
6              December 20, 2015  North Carolina       1.0        4.0
7              December 20, 2015         Florida       1.0        4.0
8              December 20, 2015         Florida       0.0        4.0
9              December 13, 2015      California       1.0        3.0
10             December 13, 2015      California       0.0        4.0
11             December 12, 2015         Georgia       0.0        4.0
12             December 12, 2015        Illinois       1.0        3.0
13             December 11, 2015        Maryland       1.0        3.0
14             December 11, 2015    Pennsylvania       0.0        4.0
15              December 8, 2015            Ohio       1.0        3.0
16              December 6, 2015       Louisiana       1.0        3.0
17              December 6, 2015        Nebraska       2.0        3.0
18              December 2, 2015      California      16.0       19.0
19              December 2, 2015         Georgia       1.0        3.0
20             November 29, 2015        Illinois       0.0        5.0
21             November 27, 2015        Colorado       3.0        9.0
22             November 27, 2015      California       2.0        2.0
23             November 24, 2015  South Carolina       0.0        4.0
24             November 23, 2015            Ohio       4.0        1.0
25             November 23, 2015       Minnesota       0.0        5.0
26             November 22, 2015           Texas       0.0        4.0
27             November 22, 2015      Washington       0.0        4.0
28             November 22, 2015        New York       0.0        5.0
29             November 22, 2015  South Carolina       1.0        3.0
...                          ...             ...       ...        ...
996             January 29, 2017       Louisiana       1.0        4.0
997             January 27, 2017       Tennessee       0.0       10.0
998             January 26, 2017         Georgia       2.0        3.0
999             January 25, 2017        Illinois       0.0        6.0
1000            January 22, 2017        Illinois       0.0        4.0
1001            January 22, 2017           Texas       3.0        2.0
1002            January 22, 2017         Georgia       3.0        1.0
1003            January 21, 2017         Georgia       0.0        6.0
1004            January 21, 2017         Florida       0.0        5.0
1005            January 21, 2017       Tennessee       2.0        2.0
1006            January 20, 2017     Mississippi       1.0        4.0
1007            January 20, 2017      California       0.0        4.0
1008            January 16, 2017           Texas       0.0        4.0
1009            January 16, 2017         Florida       0.0        8.0
1010            January 15, 2017        Colorado       3.0        1.0
1011            January 15, 2017     Mississippi       1.0        4.0
1012            January 12, 2017        Missouri       3.0        2.0
1013            January 12, 2017      California       2.0        2.0
1014            January 11, 2017      New Jersey       1.0        3.0
1015            January 11, 2017        Illinois       1.0        3.0
1016             January 7, 2017        Michigan       1.0        3.0
1017             January 6, 2017      California       2.0        2.0
1018             January 6, 2017         Florida       5.0        6.0
1019             January 4, 2017      California       3.0        1.0
1020             January 3, 2017           Texas       0.0        4.0
1021             January 1, 2017     Mississippi       0.0        5.0
1022             January 1, 2017           Texas       1.0        3.0
1023             January 1, 2017         Florida       0.0        7.0
Total_Killed                 NaN             NaN    1627.0        NaN
Total_Injured                NaN             NaN       NaN     4510.0

[1026 rows x 4 columns]

In [28]:
concatenated_df.to_csv('comprehensive_mass_shooting.csv', index=False, encoding='utf-8')