In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('/Users/garimajain/Desktop/Homicide/Table_20_Murder_by_State_Types_of_Weapons_2014.csv')

In [29]:
df.drop(df.index[[0,1]])

,Table 20,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
2,State,Total\nmurders1,Total\nfirearms,Handguns,Rifles,Shotguns,Firearms\n(type\nunknown),Knives or\ncutting\ninstruments,Other\nweapons,"Hands, fists,\nfeet, etc.2",NaN,NaN,NaN,NaN,NaN
3,Alabama3,1,1,1,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,Alaska,41,22,6,0,2,14,8,5,6,NaN,NaN,NaN,NaN,NaN
5,Arizona,258,153,116,6,6,25,33,66,6,NaN,NaN,NaN,NaN,NaN
6,Arkansas,154,111,55,3,10,43,17,23,3,NaN,NaN,NaN,NaN,NaN
7,California,"1,697","1,169",763,40,43,323,256,175,97,NaN,NaN,NaN,NaN,NaN
8,Colorado,149,91,60,3,2,26,25,20,13,NaN,NaN,,NaN,NaN
9,Connecticut,83,51,19,0,3,29,17,5,10,NaN,NaN,NaN,NaN,NaN
10,Delaware,54,39,29,0,0,10,4,3,8,NaN,NaN,NaN,NaN,NaN
11,District of Columbia,105,73,30,0,1,42,17,10,5,NaN,NaN,NaN,NaN,NaN
12,Georgia,540,416,371,11,10,24,55,63,6,NaN,NaN,NaN,NaN,NaN
13,Hawaii,5,1,1,0,0,0,0,3,1,NaN,NaN,NaN,NaN,NaN
14,Idaho,30,15,10,0,2,3,6,4,5,NaN,NaN,NaN,NaN,NaN
15,Illinois3,428,371,364,5,1,1,30,14,13,NaN,NaN,NaN,NaN,NaN
16,Indiana,299,222,166,5,3,48,26,37,14,NaN,NaN,NaN,NaN,NaN
17,Iowa,55,27,10,1,3,13,8,12,8,NaN,NaN,NaN,NaN,NaN
18,Kansas,89,56,22,4,4,26,13,12,8,NaN,NaN,NaN,NaN,NaN
19,Kentucky,160,112,85,1,5,21,16,26,6,NaN,NaN,NaN,NaN,NaN
20,Louisiana,407,319,189,9,13,108,46,30,12,NaN,NaN,NaN,NaN,NaN
21,Maine,21,6,2,0,4,0,4,8,3,NaN,NaN,NaN,NaN,NaN
22,Maryland,309,208,190,1,6,11,67,20,14,NaN,NaN,NaN,NaN,NaN
23,Massachusetts,131,81,33,0,0,48,34,13,3,NaN,NaN,NaN,NaN,NaN
24,Michigan,531,342,209,5,4,124,60,102,27,NaN,NaN,NaN,NaN,NaN
25,Minnesota,82,42,33,1,3,5,10,20,10,NaN,NaN,NaN,NaN,NaN
26,Mississippi,161,122,97,2,3,20,14,17,8,NaN,NaN,NaN,NaN,NaN
27,Missouri,402,314,166,24,5,119,35,43,10,NaN,NaN,NaN,NaN,NaN
28,Montana,27,17,12,0,2,3,5,3,2,NaN,NaN,NaN,NaN,NaN
29,Nebraska,51,32,24,3,4,1,7,8,4,NaN,NaN,NaN,NaN,NaN
30,Nevada,169,94,14,1,0,79,34,32,9,NaN,NaN,NaN,NaN,NaN
31,New Hampshire,12,6,3,2,0,1,2,3,1,NaN,NaN,NaN,NaN,NaN
32,New Jersey,337,243,200,3,5,35,42,34,18,NaN,NaN,NaN,NaN,NaN
33,New Mexico,96,53,21,2,2,28,22,19,2,NaN,NaN,NaN,NaN,NaN
34,New York,613,344,283,1,12,48,139,103,27,NaN,NaN,NaN,NaN,NaN
35,North Carolina,469,318,242,21,14,41,39,63,49,NaN,NaN,NaN,NaN,NaN
36,North Dakota,14,6,1,1,0,4,3,3,2,NaN,NaN,NaN,NaN,NaN
37,Ohio,436,277,180,0,4,93,37,102,20,NaN,NaN,NaN,NaN,NaN
38,Oklahoma,167,104,88,5,5,6,29,28,6,NaN,NaN,NaN,NaN,NaN
39,Oregon,73,39,16,2,2,19,14,18,2,NaN,NaN,NaN,NaN,NaN
40,Pennsylvania,609,453,350,8,14,81,63,78,15,NaN,NaN,NaN,NaN,NaN
41,Rhode Island,25,12,5,0,1,6,7,5,1,NaN,NaN,NaN,NaN,NaN
42,South Carolina,301,219,138,8,11,62,31,34,17,NaN,NaN,NaN,NaN,NaN
43,South Dakota,15,6,0,0,0,6,1,5,3,NaN,NaN,NaN,NaN,NaN
44,Tennessee,370,246,160,7,2,77,43,60,21,NaN,NaN,NaN,NaN,NaN
45,Texas,"1,141",765,483,33,28,221,145,128,103,NaN,NaN,NaN,NaN,NaN
46,Utah,61,36,25,4,2,5,6,9,10,NaN,NaN,NaN,NaN,NaN
47,Vermont,10,6,3,2,0,1,1,1,2,NaN,NaN,NaN,NaN,NaN
48,Virginia,337,228,119,9,10,90,35,53,21,NaN,NaN,NaN,NaN,NaN
49,Washington,172,94,54,6,4,30,25,42,11,NaN,NaN,NaN,NaN,NaN
50,West Virginia,62,16,12,1,0,3,10,30,6,NaN,NaN,NaN,NaN,NaN
51,Wisconsin,158,117,79,8,2,28,19,13,9,NaN,NaN,NaN,NaN,NaN
52,Wyoming,13,8,6,0,1,1,1,2,2,NaN,NaN,NaN,NaN,NaN
53,Guam,6,0,0,0,0,0,4,1,1,NaN,NaN,NaN,NaN,NaN
54,Virgin Islands,25,21,17,0,4,0,2,2,0,NaN,NaN,NaN,NaN,NaN
55,1 Total number of murders for which supplement...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,"2 Pushed is included in hands, fists, feet, etc.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,3 Limited supplemental homicide data were rece...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN
59,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df1 = df.drop(['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14'], axis=1)

In [32]:
df1.drop(df1.index[[0,1]])

,Table 20,Unnamed: 1,Unnamed: 2
2,State,Total\nmurders1,Total\nfirearms
3,Alabama3,1,1
4,Alaska,41,22
5,Arizona,258,153
6,Arkansas,154,111
7,California,"1,697","1,169"
8,Colorado,149,91
9,Connecticut,83,51
10,Delaware,54,39
11,District of Columbia,105,73
12,Georgia,540,416
13,Hawaii,5,1
14,Idaho,30,15
15,Illinois3,428,371
16,Indiana,299,222
17,Iowa,55,27
18,Kansas,89,56
19,Kentucky,160,112
20,Louisiana,407,319
21,Maine,21,6
22,Maryland,309,208
23,Massachusetts,131,81
24,Michigan,531,342
25,Minnesota,82,42
26,Mississippi,161,122
27,Missouri,402,314
28,Montana,27,17
29,Nebraska,51,32
30,Nevada,169,94
31,New Hampshire,12,6
32,New Jersey,337,243
33,New Mexico,96,53
34,New York,613,344
35,North Carolina,469,318
36,North Dakota,14,6
37,Ohio,436,277
38,Oklahoma,167,104
39,Oregon,73,39
40,Pennsylvania,609,453
41,Rhode Island,25,12
42,South Carolina,301,219
43,South Dakota,15,6
44,Tennessee,370,246
45,Texas,"1,141",765
46,Utah,61,36
47,Vermont,10,6
48,Virginia,337,228
49,Washington,172,94
50,West Virginia,62,16
51,Wisconsin,158,117
52,Wyoming,13,8
53,Guam,6,0
54,Virgin Islands,25,21
55,1 Total number of murders for which supplement...,NaN,NaN
56,"2 Pushed is included in hands, fists, feet, etc.",NaN,NaN
57,3 Limited supplemental homicide data were rece...,NaN,NaN
58,NaN,NaN,
59,NaN,,NaN
60,NaN,NaN,

In [33]:
df1.columns = ['State', 'Total Murders', 'Total Firearms']

In [36]:
df2 = df1.drop(df1.index[[0,1,2]])

In [47]:
df2.drop(df2.index[[55,56,57]])

,State,Total Murders,Total Firearms
3,Alabama3,1,1
4,Alaska,41,22
5,Arizona,258,153
6,Arkansas,154,111
7,California,"1,697","1,169"
8,Colorado,149,91
9,Connecticut,83,51
10,Delaware,54,39
11,District of Columbia,105,73
12,Georgia,540,416
13,Hawaii,5,1
14,Idaho,30,15
15,Illinois3,428,371
16,Indiana,299,222
17,Iowa,55,27
18,Kansas,89,56
19,Kentucky,160,112
20,Louisiana,407,319
21,Maine,21,6
22,Maryland,309,208
23,Massachusetts,131,81
24,Michigan,531,342
25,Minnesota,82,42
26,Mississippi,161,122
27,Missouri,402,314
28,Montana,27,17
29,Nebraska,51,32
30,Nevada,169,94
31,New Hampshire,12,6
32,New Jersey,337,243
33,New Mexico,96,53
34,New York,613,344
35,North Carolina,469,318
36,North Dakota,14,6
37,Ohio,436,277
38,Oklahoma,167,104
39,Oregon,73,39
40,Pennsylvania,609,453
41,Rhode Island,25,12
42,South Carolina,301,219
43,South Dakota,15,6
44,Tennessee,370,246
45,Texas,"1,141",765
46,Utah,61,36
47,Vermont,10,6
48,Virginia,337,228
49,Washington,172,94
50,West Virginia,62,16
51,Wisconsin,158,117
52,Wyoming,13,8
53,Guam,6,0
54,Virgin Islands,25,21
55,1 Total number of murders for which supplement...,NaN,NaN
56,"2 Pushed is included in hands, fists, feet, etc.",NaN,NaN
57,3 Limited supplemental homicide data were rece...,NaN,NaN

In [48]:
df2.to_csv('TotalMurdersByFirearms.csv', index=False, encoding='utf-8')